(venv) root@ubuntu:~/wersja2/nuns# cat > requirements_czyste.txt << EOL
# Zaleznosci kluczowe
streamlit
pandas
matplotlib
openpyxl
python-docx
numpy

# Opcjonalnie: upewnijmy sie, ze wszystkie inne pakiety z tej listy,
# ktore nie sa Conda-specyficzne, sa uwzglednione (np. scikit-learn, xgboost)
scikit-learn
xgboost
EOL